<div class="page-container">
<mat-card  class="shipping-card">
    <mat-card-header>
      <mat-card-title>Creación de Proyecto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="projectFormGroup">
              <form [formGroup]="projectFormGroup">
                <ng-template matStepLabel>Proyecto</ng-template>
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                  <mat-form-field class="full-width" fxFlex="30%">
                    <input matInput placeholder="Nombre del Proyecto" formControlName="name" required>
                    <mat-error *ngIf="projectFormGroup.controls.name.invalid">Campo Requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width" fxFlex="70%">
                    <input matInput placeholder="Descripción" formControlName="description" required>
                    <mat-error *ngIf="projectFormGroup.controls.description.invalid">Campo Requerido</mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="adminsFormArray" fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                  <h3 fxFlex="80%">Administradores</h3>
                  <h3 fxFlex="20%">Acciones</h3>
                </div>
                <mat-list>
                <mat-list-item formArrayName="adminsFormArray" *ngFor="let admin of projectFormGroup.get('adminsFormArray')['controls']; let i = index; last as last">    
                  
                  <div class="full-width" fxLayout="row" fxLayoutAlign=" center" fxLayoutWrap fxLayoutGap="5px" [formGroupName]="i">
                   
                        <div fxFlex="80%">
                          <img class="avatar" src="/assets/images/avatar.png" alt="{{admin.value.adminInput.user.username}}">
                           {{admin.value.adminInput.user.username}}
                        </div>
                        <div *ngIf="admin.value.adminInput.creator === false" fxFlex="20%">
                            <button  type="button" color="accent" mat-icon-button (click)="deleteAdmin(i)">
                                <mat-icon aria-label="Delete Admin button">clear</mat-icon>
                            </button>
                        </div>
                    
                  </div>
                  <mat-divider [inset]="true"  *ngIf="!last"></mat-divider>
                </mat-list-item>
                </mat-list>
       
          <div>
              <button mat-button type="button" (click)="openAddAdminDialog()">+ Agregar Admin</button>
          </div>
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
              <button id="nextStep" mat-raised-button color="primary" [disabled]="projectFormGroup.invalid" matStepperNext>Siguiente</button>
          </div>
          </form>
          </mat-step>
          <mat-step [stepControl]="evalueeFormGroup">
            <form [formGroup]="evalueeFormGroup">
              <ng-template matStepLabel>Participantes</ng-template>
              <div *ngIf="evaluesFormArray" fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                <h3 fxFlex="30%">Evaluados</h3>
                <h3 fxFlex="30%">Evaluadores</h3>
                <h3 fxFlex="30%">Reviewers</h3>
                <h3 fxFlex="10%">Acciones</h3>
              </div>
              <div formArrayName="evaluees" *ngFor="let evaluee of evalueeFormGroup.get('evaluees')['controls']; let i = index;">
                <mat-divider [inset]="true"></mat-divider>
                <div [formGroupName]="i">
                    <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                      <div fxFlex="30%">
                        <img class="avatar" src="/assets/images/avatar.png" alt="{{evaluee.value.evaluee.user.username}}">
                         {{evaluee.value.evaluee.user.username}}
                      </div>
                      <div fxFlex="30%">
                          <div  *ngFor="let fp of evaluee.value.evaluee.feedbackProviders">
                              <img class="avatar" src="/assets/images/avatar.png" alt="{{fp.user.username}}">
                              {{fp.user.username}} ( <strong>{{fp.relationship}}</strong> )
                          </div>
                      </div>
                      <div fxFlex="30%">
                        <div  *ngFor="let reviewer of evaluee.value.evaluee.reviewers">
                            <img class="avatar" src="/assets/images/avatar.png" alt="{{reviewer.user.username}}">
                            {{reviewer.user.username}}
                        </div>
                      </div>
                      <div fxFlex="10%">
                          <button type="button" color="accent" mat-icon-button (click)="deleteEvaluee(i)">
                              <mat-icon aria-label="Delete Evaluee button">clear</mat-icon>
                          </button>
                      </div>
                    </div>
                </div>
              </div>
              <div>
                  <button mat-button type="button" (click)="openAddEvalueeDialog()">+ Agregar Evaluado</button>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                <button mat-raised-button color="primary" matStepperPrevious>Atras</button>
                <button id="nextStepOne" mat-raised-button color="primary" [disabled]="evalueeFormGroup.invalid" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="templateFormGroup">
            <form [formGroup]="templateFormGroup">
              <ng-template matStepLabel>Templates</ng-template>
              <mat-form-field class="full-width">
                  <input matInput placeholder="Selecciona un template de evaluación" [matAutocomplete]="auto" formControlName="templateInput" (blur)="checkTemplate()" required>  
                  <mat-error *ngIf="templateFormGroup.controls.templateInput.hasError('required')">
                          Campo <strong>requerido</strong>
                  </mat-error>
              </mat-form-field>
          
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="templateClick($event)" [displayWith]="displayTemplateFn">
                  <mat-option *ngIf="isLoading" class="is-loading">
                      <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let template of filteredTemplates" [value]="template">
                          <span>{{template.title}}</span>
                      </mat-option>
                  </ng-container>
              </mat-autocomplete>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                <button mat-raised-button color="primary" matStepperPrevious>Atras</button>
                <button mat-raised-button color="primary" [disabled]="templateFormGroup.invalid" (click)="previewTemplate()">Previsualizar</button>
                <button id="nextStepTwo" mat-raised-button color="primary" [disabled]="templateFormGroup.invalid" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Finalizar</ng-template>
            Al finalizar se enviarán las notificaciones a los miembros del proyecto.
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
              <button mat-raised-button color="primary" matStepperPrevious>Atras</button>
              <button id="stepFin" mat-raised-button color="primary" (click)="createProject()">Finalizar</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
</mat-card>
</div>