<mat-card>
  <mat-card-header>
    <h2>Editar Empleado</h2>
  </mat-card-header>
  <form class="example-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nombre" formControlName="name" required>
          <mat-error *ngIf="employeeForm.controls.name.invalid">Campo Requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Apellido" formControlName="lastname" required>
          <mat-error *ngIf="employeeForm.controls.lastname.invalid">Campo Requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Fecha de Nacimiento" formControlName="birthDate" type="date" required>
          <mat-error *ngIf="employeeForm.controls.birthDate.invalid">Campo Requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Fecha de Ingreso" formControlName="startDate" type="date" required>
          <mat-error *ngIf="employeeForm.controls.startDate.invalid">Campo Requerido</mat-error>
        </mat-form-field>
      </p>
      <mat-form-field>
        <mat-select placeholder="Area" formControlName="area" [compareWith]="compare">
          <mat-option *ngFor="let current of areas" [value]="current" >{{current.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Puesto" formControlName="position" [compareWith]="compare">
          <mat-option *ngFor="let pos of positions" [value]="pos" >{{pos.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="address">

        <h4>Dirección</h4>
        <p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Calle" formControlName="address">
            <mat-error *ngIf="employeeForm.get('address.address').invalid">Campo Requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Ciudad" formControlName="city">
            <mat-error *ngIf="employeeForm.get('address.city').invalid">Campo Requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Provincia" formControlName="state">
            <mat-error *ngIf="employeeForm.get('address.state').invalid">Campo Requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Código Postal" formControlName="postalCode">
            <mat-error *ngIf="employeeForm.get('address.postalCode').invalid">Campo Requerido</mat-error>
          </mat-form-field>
        </p>
      </div>

      <div formGroupName="contactInfo">
        <h4>Contacto</h4>
        <p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Interno" formControlName="internalNumber">
            <mat-error *ngIf="employeeForm.get('contactInfo.internalNumber').invalid">Campo Requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Personal" formControlName="telephoneNumber">
            <mat-error *ngIf="employeeForm.get('contactInfo.telephoneNumber').invalid">Campo Requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="employeeForm.get('contactInfo.email').invalid">Campo Requerido</mat-error>
          </mat-form-field>
        </p>
      </div>

      <mat-spinner diameter="50" style="margin:0 auto;" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
      <div align="center" *ngIf="error">
        <p>Datos incorrectos</p>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button type="submit" [disabled]="employeeForm.invalid" color="primary">Guardar</button>
    </mat-card-actions>
  </form>
</mat-card>