<form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Usuario {{userForm.controls.username.value}}</mat-card-title>
    </mat-card-header>      
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
        <mat-form-field class="full-width" fxFlex="50%">
          <input matInput placeholder="Usuario" formControlName="username" required>
          <mat-error *ngIf="userForm.controls.username.invalid">Campo Requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" fxFlex="50%">
          <input matInput placeholder="Password" formControlName="password" type="password" required>
          <mat-error *ngIf="userForm.controls.password.invalid">Campo Requerido</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutWrap>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="mail" type="mail" required>
          <mat-error *ngIf="userForm.controls.mail.invalid">Mail invalido</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
        <mat-slide-toggle formControlName="enabled">{{getEnabledText()}}</mat-slide-toggle>
      </div>
      <div fxLayout="row">
        <mat-form-field class="full-width">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let role of userForm.get('authorities').controls; let i = index;"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(i)">
            {{ role.value.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Roles"
              #roleInput
              [formControl]="roleCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
              [matChipInputAddOnBlur]="addOnBlur"
            >
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
              {{role.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-spinner diameter="50" style="margin:0 auto;" [style.display]="loading ? 'block' : 'none'"></mat-spinner>
      <div align="center" *ngIf="error">
        <p>Datos incorrectos</p>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button type="button" color="primary" (click)="gotoList()">Volver</button>
      <button mat-raised-button type="submit" [disabled]="userForm.invalid" color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
