/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
}

.basic-container {
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.version-info {
    font-size: 8pt;
    float: right;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
  }