<div class="page-container">

  <h1 class="mat-h1">Usuarios</h1>
  <div class="padding-container" fxLayout="row" fxLayoutWrap  fxLayoutGap="10px">
    <mat-form-field fxFlex="70%">
      <input matInput type="search" placeholder="Buscar Usuarios" #input>
    </mat-form-field>
    <button matTooltip="Crear nuevo usuario" mat-fab color="accent" (click)="addUser()">
      <mat-icon aria-label="Add User Button">add</mat-icon>
    </button>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner [diameter]='70'></mat-spinner>
    </div>
  </div>
    


  <mat-table class="full-width-table"  [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell fxFlex="70%" *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
      <mat-cell fxFlex="70%" *matCellDef="let row">
        <img class="avatar" src="/assets/images/avatar.png" alt="{{row.username}}">
        {{row.username}}      
      </mat-cell>
    </ng-container>

    <!-- Actions Column-->
    <ng-container matColumnDef="actions">
        <mat-header-cell fxFlex="30%"  *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell fxFlex="30%" *matCellDef="let row">
            <button type="button" matTooltip="Ver perfil" color="accent" mat-icon-button (click)="userProfile(row)">
                <mat-icon aria-label="Profile user button">face</mat-icon>
            </button>
            <button type="button" matTooltip="Editar usuario" color="accent" mat-icon-button (click)="editUser(row)">
                <mat-icon aria-label="Edit user button">create</mat-icon>
            </button>
            <button type="button" matTooltip="Eliminar usuario" color="accent" mat-icon-button (click)="deleteUser(row.id)">
                <mat-icon aria-label="Delete user button">clear</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator  #paginator 
      [length]="dataSource.totalItems"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
