<h2 mat-dialog-title>Evaluadores de {{data.username}}</h2>
<mat-dialog-content>

    <mat-list>
    <mat-list-item *ngFor="let fp of data.feedbackProviders; let i = index; last as last">
        <div fxLayout="row"  fxLayoutWrap fxLayoutGap="40px">
                <div *ngIf="fp.status === 'PENDIENTE'" fxFlex="30%" fxLayoutAlign="center center">
                    <mat-icon>schedule</mat-icon> Pendiente
                </div>
                <div *ngIf="fp.status === 'RESUELTO'" fxFlex="30%" fxLayoutAlign="center center">
                    <mat-icon>check_circle</mat-icon> Resuelto
                </div>
                <div fxFlex="70%" fxLayoutAlign="left center">
                <img class="avatar" src="/assets/images/avatar.png" alt="{{fp.idUser}}">
                    {{fp.username}}
                </div>
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
        <mat-row *matRowDef="let fp"></mat-row>
    </mat-list-item>
    </mat-list>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cerrar</button>
</mat-dialog-actions>

