<div class="card-container">
  <mat-card *ngIf="roles.includes('ROLE_ADMIN')" class="home-card">
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>Administración de usuarios</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/organization.jpg" alt="Usuarios">
    <mat-card-content>
      <p>
        Administre los usuarios del sistema aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/user-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="roles.includes('ROLE_ADMIN')" class="home-card">
    <mat-card-header>
      <mat-card-title>Templates</mat-card-title>
      <mat-card-subtitle>Administración de templates</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/evaluation.jpg" alt="Templates">
    <mat-card-content>
      <p>
        Para gestionar sus templates ingrese aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/template-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')" class="home-card">
    <mat-card-header>
      <mat-card-title>Proyectos</mat-card-title>
      <mat-card-subtitle>Administración de proyectos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/organization.jpg" alt="Proyectos">
    <mat-card-content>
      <p>
        Para gestionar sus proyectos acceda aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/template-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>
</div>