<div class="card-container">
  <mat-card *ngIf="roles.includes('ROLE_ADMIN')" class="home-card">
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>Administración de usuarios</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/organization.jpg" alt="Usuarios">
    <mat-card-content>
      <p>
        Administre los usuarios del sistema aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/user-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')" class="home-card">
    <mat-card-header>
      <mat-card-title>La Organización</mat-card-title>
      <mat-card-subtitle>Administración de empleados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/organization.jpg" alt="Organizacion">
    <mat-card-content>
      <p>
        Consulte la información de los empleados de Gire aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/employee-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="roles.includes('ROLE_USER')" class="home-card">
    <mat-card-header>
      <mat-card-title>Evaluaciones</mat-card-title>
      <mat-card-subtitle>Administración de evaluaciones</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/evaluation.jpg" alt="Evaluacion">
    <mat-card-content>
      <p>
        Para gestionar sus evaluaciones acceda aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/employee-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="roles.includes('ROLE_USER')" class="home-card">
    <mat-card-header>
      <mat-card-title>Informes</mat-card-title>
      <mat-card-subtitle>Gráficos y Reportes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/report.jpg" alt="Organizacion">
    <mat-card-content>
      <p>
        Para consultar los resultados de sus evaluaciones acceda aquí.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/employee-list">INGRESAR</a>
    </mat-card-actions>
  </mat-card>
</div>