<mat-card *ngIf="user !== undefined" class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{user.mail}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/avatar.png" alt="user profile">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button type="button" color="primary" (click)="gotoList()">Volver</button>
    <button mat-raised-button type="button" color="primary" (click)="editUser()">Editar</button>
  </mat-card-actions>
</mat-card>