<mat-card>
  <mat-card-header>Empleados</mat-card-header>
  <mat-card-content>
    <input matInput #searchBox id="search-box" type="search" placeholder="Buscar" (keyup)="search(searchBox.value)">
    <mat-nav-list>
      <mat-list-item *ngFor="let employee of employees$ | async">
        <img mat-list-avatar src="/assets/images/avatar.png" alt="{{employee.name}}">
        <h3 mat-line>
          <a mat-line [routerLink]="['/employee-detail', employee.id]">{{employee.name}} {{employee.lastname}}</a>
        </h3>
        <p mat-line>
          <span class="demo-2">{{employee.position.name}}</span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <button *ngIf="roles.includes('ROLE_ADMIN')" mat-fab color="primary" [routerLink]="['/employee-add']">Nuevo</button>
</mat-card>