
<mat-card  class="shipping-card">
    <mat-card-header>
      <mat-card-title>Estado del Proyecto <strong>{{project?.name}}</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
            <h3 fxFlex="80%">Evaluados</h3>
            <h3 fxFlex="20%">Acciones</h3>
          </div>
          <mat-list *ngIf="project !== undefined">
          <div *ngFor="let evaluee of project.evaluees; let i = index; last as last">
            <div *ngIf="evaluee.user | async; let user">      
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                  <div  fxFlex="80%">
                    <img class="avatar" src="/assets/images/avatar.png" alt="{{evaluee.idUser}}">
                     {{user.username}}
                  </div>
                  <div fxFlex="20%">
                      <button  type="button" color="accent" mat-icon-button>
                          <mat-icon aria-label="Delete Admin button">clear</mat-icon>
                      </button>
                  </div>
                </div>
              </div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
          </div>
        </mat-list>
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
              <h3 fxFlex="80%">Evaluadores</h3>
              <h3 fxFlex="20%">Acciones</h3>
          </div>
          <mat-list *ngIf="project !== undefined">
          <div *ngFor="let fp of project.feedbackProviders; let i = index; last as last">
              <div *ngIf="fp.user | async; let user">
                  <div fxLayout="row" fxLayoutWrap fxLayoutGap="5px">
                    <div fxFlex="80%">
                      <img class="avatar" src="/assets/images/avatar.png" alt="{{fp.idUser}}">
                       {{user.username}}
                    </div>
                    <div fxFlex="20%">
                        <button  type="button" color="accent" mat-icon-button>
                            <mat-icon aria-label="Delete Admin button">clear</mat-icon>
                        </button>
                    </div>
                  </div>
              </div>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
          </div>
        </mat-list>
    </mat-card-content>
</mat-card>