<mat-card  class="shipping-card">
    <mat-card-header>
      <mat-card-title>Estado del Proyecto <strong>{{projectStatus?.name}}</strong></mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button type="button" color="primary" (click)="gotoList()">Volver</button>
        <button mat-raised-button type="button" color="primary" [disabled]="loading" (click)="openAddEvalueeDialog()">+ Evaluado</button>
        <button mat-raised-button type="button" color="primary" [disabled]="loading" (click)="openAddAdminDialog()">+ Admin</button>
        <button mat-raised-button type="button" matTooltip="Exportar proyecto" color="primary" [disabled]="loading" (click)="exportProject()">
                <mat-icon aria-label="Export project">save_alt</mat-icon> Exportar Proyecto
        </button>
        <button mat-raised-button type="button" matTooltip="Cerrar proyecto" color="accent" [disabled]="loading" (click)="closeProject()">
            <mat-icon aria-label="Close project">close</mat-icon> Cerrar Proyecto
        </button>
    </mat-card-actions>
<mat-card-content>
<div class="spinner-container" *ngIf="loading">
    <mat-spinner [diameter]='70'></mat-spinner>
</div>
<div *ngIf="!loading">
  <div class="item-panel">
    <div fxLayout="row"   fxLayoutWrap fxLayoutGap="10px">
      <h4 fxFlex="25%">Evaluados</h4>
      <h4 fxFlex="10%">Estado</h4>
      <h4 fxFlex="10%">Pendientes</h4>
      <h4 fxFlex="10%">Completados</h4>
      <h4 fxFlex="20%">Progreso</h4>
    </div>
    <mat-list>
    <mat-list-item *ngFor="let evaluee of projectStatus.evalueesStatus; let i = index; last as last">
      <div class="full-width" fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">      
            <div  fxFlex="25%" (click)="onEvalueeClick(evaluee)">
              <img class="avatar" src="/assets/images/avatar.png" alt="{{evaluee.idUser}}" >
               {{evaluee.username}}
            </div>
            <div *ngIf="evaluee.status === 'PENDIENTE'" fxFlex="10%"  fxLayoutAlign="center center" (click)="onEvalueeClick(evaluee)">
                <mat-icon matTooltip="Con Feedbacks Pendientes">schedule</mat-icon>
            </div>
            <div *ngIf="evaluee.status === 'RESUELTO'" fxFlex="10%"  fxLayoutAlign="center center" (click)="onEvalueeClick(evaluee)">
                <mat-icon matTooltip="Evaluación Completa">check_circle</mat-icon>
            </div>
            <div fxFlex="10%"  fxLayoutAlign="center center">
                {{evaluee.pendingFeedbacks}}
            </div>
            <div fxFlex="10%"  fxLayoutAlign="center center">
                {{evaluee.completedFeedbacks}}
            </div>
            <div fxFlex="20%"  fxLayoutAlign="center center">
                <mat-progress-bar mode="determinate" [value]="evaluee.completedFeedbacks*100 / (evaluee.pendingFeedbacks + evaluee.completedFeedbacks)"></mat-progress-bar>
            </div>
        </div>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
    </mat-list>
  </div>
  <div class="item-panel">
      <div fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
          <h4 fxFlex="25%">Evaluadores</h4>
          <h4 fxFlex="10%">Estado</h4>
          <h4 fxFlex="10%">Pendientes</h4>
          <h4 fxFlex="10%">Completados</h4>
          <h4 fxFlex="20%">Progreso</h4>
          <h4 fxFlex="20%" *ngIf="recordarFeedback" fxLayoutAlign="center">Recordar Feedback</h4>
      </div>
      <mat-list>
      <mat-list-item *ngFor="let fp of projectStatus.feedbackProvidersStatus; let i = index; last as last" >
          <div class="full-width" fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
                  <div fxFlex="25%" (click)="onFpClick(fp)">
                  <img class="avatar" src="/assets/images/avatar.png" alt="{{fp.idUser}}">
                      {{fp.username}}
                  </div>
                  <div *ngIf="fp.status === 'PENDIENTE'" fxFlex="10%"  fxLayoutAlign="center center" (click)="onFpClick(fp)">
                    <mat-icon matTooltip="Con Evaluaciones Pendientes">schedule</mat-icon>
                  </div>
                  <div *ngIf="fp.status === 'RESUELTO'" fxFlex="10%"  fxLayoutAlign="center center" (click)="onFpClick(fp)">
                    <mat-icon matTooltip="Sin Evaluaciones Pendientes">check_circle</mat-icon>
                  </div>
                  <div fxFlex="10%" fxLayoutAlign="center center">
                      {{fp.pendingFeedbacks}}
                  </div>
                  <div fxFlex="10%" fxLayoutAlign="center center">
                      {{fp.completedFeedbacks}}
                  </div>
                  <div fxFlex="20%" fxLayoutAlign="center center">
                      <mat-progress-bar mode="determinate" [value]="fp.completedFeedbacks*100 / (fp.pendingFeedbacks + fp.completedFeedbacks)"></mat-progress-bar>
                  </div>
                  <div fxFlex="20%" fxLayoutAlign="center center">
                      <button mat-icon-button  *ngIf="recordarFeedback" [disabled]="!fp.reminder" (click)="notificateFeedback(fp)">
                          <mat-icon *ngIf="fp.reminder">mail</mat-icon>
                          <mat-icon *ngIf="!fp.reminder">done</mat-icon>
                      </button>
                  </div>
          </div>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
          <mat-row *matRowDef="let fp"></mat-row>
      </mat-list-item>
      </mat-list>
  </div>
  <div class="item-panel">
      <div fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
          <h4 fxFlex="30%">Reviewers</h4>
      </div>
      <mat-list>
      <mat-list-item *ngFor="let reviewer of projectStatus.reviewersStatus; let i = index; last as last" (click)="onReviewerClick(reviewer)">
          <div class="full-width" fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
                  <div fxFlex="30%">
                  <img class="avatar" src="/assets/images/avatar.png" alt="{{reviewer.idUser}}">
                  {{reviewer.username}}
                  </div>
          </div>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
      </mat-list-item>
      </mat-list>
  </div>
      <div class="item-panel">    
      <div fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
          <h4 fxFlex="30%">Administradores</h4>
      </div>
      <mat-list>
      <mat-list-item *ngFor="let admin of projectStatus.adminsStatus; let i = index; last as last">
          <div class="full-width" fxLayout="row"  fxLayoutWrap fxLayoutGap="10px">
              <div fxFlex="30%">
                  <img class="avatar" src="/assets/images/avatar.png" alt="{{admin.idUser}}">
                  {{admin.username}}
              </div>
              <div *ngIf="admin.creator === true" fxFlex="10%"  fxLayoutAlign="center center">
                    <mat-icon matTooltip="Creador del Proyecto">grade</mat-icon>
              </div>
          </div>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
      </mat-list-item>
      </mat-list>
  </div>   
</div>
</mat-card-content>
</mat-card>