<form [formGroup]="usersForm">

<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Usuarios evaluados en Proyectos</mat-card-title>
        <mat-card-subtitle>El gráfico muestra los proyectos en los cuales el usuario seleccionado fue evaluado ordenados de manera temporal. 
                Se permite seleccionar hasta cinco evaluados.</mat-card-subtitle>    
    </mat-card-header>      
    <mat-card-content>

        <mat-form-field>
            <input matInput placeholder="Selecciona un usuario" [matAutocomplete]="auto" formControlName="userInput" (blur)="checkUser()"> 
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="userClick($event)" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let user of filteredUsers" [value]="user">
                    <span>{{user.username}}</span>
                </mat-option>
            </ng-container>
        </mat-autocomplete>

        <button mat-button (click)="addUser()">Agregar</button>
        <div id="chartdiv"></div>

    </mat-card-content>
</mat-card>
</form>